*{
    margin: 0;
    padding: 0;
    /* font-family: "Dancing Script", cursive; */
    text-transform: capitalize;
}
img{
    width: 100%;
}
h2{
    font-family: "Dancing Script", cursive;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
}